<button class="btn btn-primary print-back-btn" (click)="goBack()">
  ← Quay lại
</button>
<div class="print-section">
  <div class="title">
    <div class="temp">
      <!-- <p>CÔNG TY CP CÔNG NGHỆ VÀ TRUYỀN THÔNG CNS</p>
        <p>Số 64/205 Định Công Thượng, Định Công, Hoàng Mai, Hà Nội</p>
       -->
    </div>

    <div class="namecp">
      <p>Mẫu số B 01 - DN</p>
      <p>Ban hành theo Thông tư 200/2014/TT-BTC</p>
      <p>ngày 22/12/2014</p>
    </div>
  </div>

  <!-- <div [innerHTML]="safeHtml"></div> -->
  <div class="table-responsive">
    <h2 class="nametb">{{ this.nametable }}</h2>
    <p class="time">
      Từ ngày:{{ this.fromDate.split("-").reverse().join("/") }} đến ngày:
      {{ this.toDate.split("-").reverse().join("/") }}
    </p>
    <h2 class="matk">Tên kho:{{ this.namekho }}</h2>
    <p class="matk">Tên hàng:{{ this.namehang }}</p>

    <table class="table table-bordered">
      <!-- <thead [innerHTML]="headHtml" > -->
      <thead>
        <tr>
          <th rowspan="2" class="column">Ngày</th>

          <th colspan="2" class="column">Chứng từ</th>

          <th rowspan="2" class="column">Diễn giải</th>

          <th rowspan="2" class="column">Đơn giá</th>
          <th colspan="2" class="column">Nhập</th>
          <th colspan="2" class="column">Xuất</th>
          <th colspan="2" class="column">Tồn</th>
        </tr>

        <tr>
          <th class="column">Nhập</th>
          <th class="column">Xuất</th>

          <th class="column">Số lượng</th>
          <th class="column">Thành tiền</th>

          <th class="column">Số lượng</th>
          <th class="column">Thành tiền</th>

          <th class="column">Số lượng</th>
          <th class="column">Thành tiền</th>
        </tr>
      </thead>

      <tbody>
        <ng-container *ngFor="let chungtu of chungtus; let i = index">
          <tr class="select-item">
            <td>
              <strong>{{ chungtu.NGAY_CT | date: "dd/MM/yyyy" }}</strong>
            </td>

            <td>
              <strong *ngIf="chungtu.NHAP == true">{{ chungtu.SO_CT }}</strong>
              <strong *ngIf="chungtu.NHAP == false"></strong>
            </td>

            <td>
              <strong *ngIf="chungtu.NHAP == false">{{ chungtu.SO_CT }}</strong>
              <strong *ngIf="chungtu.NHAP == true"></strong>
            </td>

            <td>
              <strong>{{ chungtu.DIEN_GIAI }}</strong>
            </td>
            <td>
              <strong>{{ chungtu.GIA_VON | number }}</strong>
            </td>
            <td>
              <strong>{{ chungtu.SO_LUONG_NHAP }}</strong>
            </td>
            <td>
              <strong>{{ chungtu.TIEN_NHAP | number }}</strong>
            </td>

            <td>
              <strong>{{ chungtu.SO_LUONG_XUAT }}</strong>
            </td>
            <td>
              <strong>{{ chungtu.TIEN_XUAT | number }}</strong>
            </td>

            <td>
              <strong>{{ chungtu.SO_LUONG_NHAP }}</strong>
            </td>
            <td>
              <strong>{{ chungtu.TIEN_NHAP | number }}</strong>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

  <p style="text-align: right; margin-right: 20px">
    Ngày.... tháng.... năm....
  </p>

  <div class="print-sign">
    <div class="establishment">
      <p>
        <strong>NGƯỜI LẬP</strong>
      </p>
      <p>
        <strong>(Ký, họ tên)</strong>
      </p>
    </div>
    <div class="accountant">
      <p>
        <strong>KẾ TOÁN TRƯỞNG</strong>
      </p>
      <p>
        <strong>(Ký, họ tên)</strong>
      </p>
    </div>
    <div class="undersecretary">
      <p>
        <strong>Giám Đốc</strong>
      </p>
      <p>
        <strong>(Ký, họ tên)</strong>
      </p>
    </div>
  </div>
</div>
