<!-- <div class="x_title">
  <h3><i class="fa fa-tasks"></i> Kết Quả Hoạt Động Sản Xuất Kinh Doanh</h3>
</div> -->
<br>

<div class="panel-filter">
  <div class="row">

    <div class="col-md-3 col-sm-6 col-xs-12 form-group">
      <p for="">Mã tài khoản</p>
        <input type="text"[(ngModel)]="this.ma_tk ">
        <button (click)="openDialog()">...</button>
    </div> 

   

    <div class="col-md-3 col-sm-6 col-xs-12 form-group">
      <div class="col-md-5 col-sm-6 col-xs-12 form-group label-created-date">
        <p for="">Từ Ngày - Đến Ngày</p>
      </div>
      <div class="col-md-10 col-sm-6 col-xs-12 form-group">
        <div class="col-md-7 col-sm-6 col-xs-12 form-group">
          <input type="text" placeholder="{{'FromDate| translate'}}" class="media" bsDatepicker
            [(ngModel)]="this.fromDate"
            [bsConfig]="{rangeInputFormat: 'DD/MM/YYYY', dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false }">
          <!-- (bsValueChange)="onValueChangeDateRange($event)"> -->
        </div>
        <div class="col-md-7 col-sm-6 col-xs-12 form-group">
          <input type="text" placeholder="{{'ToDate| translate'}}" class="media" bsDatepicker [(ngModel)]="this.toDate"
            [bsConfig]="{rangeInputFormat: 'DD/MM/YYYY', dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false }">
          <!-- (bsValueChange)="onValueChangeDateRange2($event)" -->
        </div>
      </div>   
    </div>
    
    <div *ngIf="isDateRangeVisible" #dateRangeSection   class="col-md-3 col-sm-6 col-xs-12 form-group">
      <div class="col-md-5 col-sm-6 col-xs-12 form-group label-created-date">
        <p >Từ Ngày TR - Đến Ngày TR</p>
      </div>
      <div class="col-md-10 col-sm-6 col-xs-12 form-group">
        <div class="col-md-7 col-sm-6 col-xs-12 form-group">
          <input type="text" placeholder="{{'FromDateTR| translate'}}" class="media" bsDatepicker
            [(ngModel)]="this.fromDateTR"
            [bsConfig]="{rangeInputFormat: 'DD/MM/YYYY', dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false }">
          <!-- (bsValueChange)="onValueChangeDateRange($event)"> -->
        </div>
        <div class="col-md-7 col-sm-6 col-xs-12 form-group">
          <input type="text" placeholder="{{'ToDateTR| translate'}}" class="media" bsDatepicker [(ngModel)]="this.toDateTR"
            [bsConfig]="{rangeInputFormat: 'DD/MM/YYYY', dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false }">
          <!-- (bsValueChange)="onValueChangeDateRange2($event)" -->
        </div>
      </div>   
    </div>

    <div>
      <div class="col-md-4 col-sm-6 col-xs-12 form-group panel-search">
        <button class="btn btn-primary" type="button" (click)="reloaddata()"><span class="glyphicon glyphicon-search"
            aria-hidden="true"></span></button>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12 form-group panel-search">
        <button class="btn btn-primary" type="button" (click)="chuyen()">
          <span 
            aria-hidden="true">
          </span> Pre
        </button>
      </div>

    </div>
  </div>
</div>
<hr>
<!-- <div class="btn-add-new">
  <button class="btn btn-primary" type="button" (click)="showCreatenhapkhoModel()"><span
      class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{'add_new'| translate}}
    </button>
</div> -->
<div class="nametb" >{{this.nametable}}</div>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th *ngFor="let colInfo of columnInfonhapkho ">
          <div >
            {{colInfo.Caption}}
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let chungtu of nhapkhos ; let i = index" class="select-item">
        <td *ngFor="let colInfo of columnInfonhapkho">
          <strong *ngIf="chungtu.BOLD == true && colInfo.Format == 'd' ">{{chungtu[colInfo.Name] | date:'dd/MM/yyyy'}}</strong>
          <span *ngIf="chungtu.BOLD != true && colInfo.Format == 'd' ">{{chungtu[colInfo.Name] | date:'dd/MM/yyyy'}}</span>
          
          <strong *ngIf="chungtu.BOLD == true && colInfo.Format == '#,##0.##;(#,##0.##);#' ">{{chungtu[colInfo.Name]|number }}</strong>
          <span *ngIf="chungtu.BOLD != true && colInfo.Format == '#,##0.##;(#,##0.##);#' ">{{chungtu[colInfo.Name]|number }}</span>
          
          <strong *ngIf="chungtu.BOLD == true && colInfo.Format == '' ">{{chungtu[colInfo.Name] }}</strong>
          <span *ngIf="chungtu.BOLD != true && colInfo.Format == '' ">{{chungtu[colInfo.Name] }}</span>
        </td>
      </tr>
    </tbody>

  </table>
  <div *ngIf="nhapkhos && nhapkhos.length == 0" class="col-md-12">
    <div class="alert alert-info">
      <strong>{{'dialog_alert_title'| translate }}!</strong> {{'task_manager_task_notice_list_empty'| translate }}
    </div>

  </div>
  
  <div *ngIf="nhapkhos && nhapkhos.length > 0" class="col-md-12">
    <div class="col-md-8">
      <pagination [boundaryLinks]="true" [itemsPerPage]="pageSize" (pageChanged)="pageChanged($event)"
        [totalItems]="totalRow" [(ngModel)]="pageNumber" class="pagination-sm" previousText="&lsaquo;"
        nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
    </div> 
    <div class="col-md-4">
      <div class="form-group view-options">
        <label for="">{{'show_row'| translate}} &nbsp;</label>
        <select class="form-control" name="page-size" [(ngModel)]="pageSize" (change)="onChangePageSize()">
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </div>
    </div>
  </div>

</div>