<div class="panel-filter">
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12">
      <div class="form-group">
        <label for="startDate">Ngày bắt đầu:</label>
        <input
          type="text"
          placeholder="{{ 'FromDate| translate' }}"
          id="startDate"
          class="form-control"
          bsDatepicker
          [(ngModel)]="this.fromDate"
          [bsConfig]="bsConfig"
        />
        <!-- (bsValueChange)="onValueChangeDateRange($event)"> -->
      </div>
      <div class="form-group">
        <label for="endDate">Ngày kết thúc:</label>
        <input
          type="text"
          placeholder="{{ 'ToDate| translate' }}"
          class="form-control"
          id="endDate"
          bsDatepicker
          [(ngModel)]="this.toDate"
          [bsConfig]="bsConfig"
        />
        <!-- (bsValueChange)="onValueChangeDateRange2($event)" -->
      </div>
      <div class="form-group">
        <label for="ma_tk">Mã tài khoản:</label>
        <div class="input-group">
          <input
            type="text"
            [(ngModel)]="this.ma_tk"
            class="form-control"
            id="ma_tk"
          />
          <div class="input-group-btn">
            <button class="btn btn-default" (click)="openTKDialog()">
              ...
            </button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Mẫu in:</label>

        <div class="dropdown-input">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="printTemplate"
            (click)="toggleTemplateDropdown()"
            readonly
          />
          <span class="dropdown-icon" (click)="toggleTemplateDropdown()">
            ▼
          </span>
          <div class="dropdown-menu-custom" *ngIf="showTemplateDropdown">
            <div class="dropdown-item" (click)="selectTemplate('Tổng hợp')">
              Tổng hợp
            </div>
            <div class="dropdown-item" (click)="selectTemplate('Chi tiết')">
              Chi tiết
            </div>
            <div
              class="dropdown-item"
              (click)="selectTemplate('Tổng hợp và chi tiết')"
            >
              Tổng hợp và chi tiết
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
      <div class="form-group">
        <label for="ma_dt">Đối tượng:</label>
        <div class="input-group">
          <input
            type="text"
            [(ngModel)]="this.ten_dt"
            class="form-control"
            id="ma_dt"
          />
          <div class="input-group-btn">
            <button class="btn btn-default" (click)="openDTDialog()">
              ...
            </button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="ma_sp">Sản phẩm:</label>
        <div class="input-group">
          <input
            type="text"
            [(ngModel)]="this.ten_sp"
            class="form-control"
            id="ma_sp"
          />
          <div class="input-group-btn">
            <button class="btn btn-default" (click)="openSPDialog()">
              ...
            </button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="ma_km">Khoản mục:</label>
        <div class="input-group">
          <input
            type="text"
            [(ngModel)]="this.ten_km"
            class="form-control"
            id="ma_km"
          />
          <div class="input-group-btn">
            <button class="btn btn-default" (click)="openKMDialog()">
              ...
            </button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Tùy chọn in:</label>

        <div class="dropdown-input">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="printOption"
            (click)="toggleOptionDropdown()"
            readonly
          />
          <span class="dropdown-icon" (click)="toggleOptionDropdown()">
            ▼
          </span>
          <div class="dropdown-menu-custom" *ngIf="showOptionDropdown">
            <div class="dropdown-item" (click)="selectOption('Xem dạng bảng')">
              Xem dạng bảng
            </div>
            <div class="dropdown-item" (click)="selectOption('Xem và in')">
              Xem và in
            </div>
            <div class="dropdown-item" (click)="selectOption('Lưu Excel')">
              Lưu Excel
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
      <div class="form-group">
        <label for="ma_vv">Vụ việc:</label>
        <div class="input-group">
          <input
            type="text"
            [(ngModel)]="this.ten_vv"
            class="form-control"
            id="ma_vv"
          />
          <div class="input-group-btn">
            <button class="btn btn-default" (click)="openVVDialog()">
              ...
            </button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="ma_ytp">Yếu tố:</label>
        <div class="input-group">
          <input
            type="text"
            [(ngModel)]="this.ten_ytp"
            class="form-control"
            id="ma_ytp"
          />
          <div class="input-group-btn">
            <button class="btn btn-default" (click)="openYTPDialog()">
              ...
            </button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="ma_nhom_dt">Nhóm đối tượng:</label>
        <div class="input-group">
          <input
            type="text"
            [(ngModel)]="this.ten_nhom_dt"
            class="form-control"
            id="ma_nhom_dt"
          />
          <div class="input-group-btn">
            <button class="btn btn-default" (click)="openNDTDialog()">
              ...
            </button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="don_vi">Đơn vị:</label>

        <input
          type="text"
          [(ngModel)]="this.don_vi"
          class="form-control"
          id="don_vi"
        />
      </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
      <div class="form-group">
        <label for="ma_tt">Loại tiền:</label>
        <div class="input-group">
          <input
            type="text"
            [(ngModel)]="this.ten_tt"
            class="form-control"
            id="ma_tt"
          />
          <div class="input-group-btn">
            <button class="btn btn-default" (click)="openTTDialog()">
              ...
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-primary" type="submit" (click)="reloaddata()">
    <span class="glyphicon glyphicon-search"></span> Tìm kiếm
  </button>
  <button
    class="preview-button btn btn-primary"
    type="button"
    (click)="chuyen()"
  >
    Preview
  </button>
</div>
<hr />

<div class="nametb">{{ this.nametable }}</div>
<h4 class="matk">Tài khoản: {{ this.ma_tk }}</h4>
<p class="time">
  Từ ngày: {{ this.fromDate | date: "dd/MM/yyyy" }} đến ngày:
  {{ this.toDate | date: "dd/MM/yyyy" }}
</p>

<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th *ngFor="let colInfo of columnInfonhapkho" class="column">
          <div>
            {{ colInfo.Caption }}
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let chungtu of nhapkhos; let i = index" class="select-item">
        <td *ngFor="let colInfo of columnInfonhapkho">
          <span *ngIf="colInfo.Format == 'd'">{{
            chungtu[colInfo.Name] | date: "dd/MM/yyyy"
          }}</span>
          <span *ngIf="colInfo.Format == '#,##0.##;(#,##0.##);#'">{{
            chungtu[colInfo.Name] | number
          }}</span>
          <span *ngIf="colInfo.Format == ''">{{ chungtu[colInfo.Name] }}</span>
          <span *ngIf="colInfo.Format == 'calc'">{{
            chungtu[colInfo.Name1] - chungtu[colInfo.Name2] | number
          }}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
