<button class="btn btn-primary print-back-btn" (click)="goBack()">
  ← Quay lại
</button>
<div class="print-section">
  <div class="title">
    <div class="temp">
      <!-- <p>CÔNG TY CP CÔNG NGHỆ VÀ TRUYỀN THÔNG CNS</p>
        <p>Số 64/205 Định Công Thượng, Định Công, Hoàng Mai, Hà Nội</p>
       -->
    </div>

    <div class="namecp">
      <p>Mẫu số B 01 - DN</p>
      <p>Ban hành theo Thông tư 200/2014/TT-BTC</p>
      <p>ngày 22/12/2014</p>
    </div>
  </div>

  <div class="table-responsive">
    <h2 class="nametb">{{ this.nametable }}</h2>
    <h4 class="matk">Tài khoản: {{ this.ma_tk }}</h4>
    <p class="time">
      Từ ngày: {{ this.fromDate.split("-").reverse().join("/") }} đến ngày:
      {{ this.toDate.split("-").reverse().join("/") }}
    </p>

    <table class="table table-bordered">
      <!-- <thead [innerHTML]="headHtml" > -->
      <thead>
        <tr>
          <th rowspan="2" class="column">Ngày CT</th>
          <th colspan="2" class="column">SỐ CT</th>

          <th rowspan="2" class="column">DIỄN GIẢI</th>

          <th colspan="2" class="column">SỐ TIỀN</th>
          <th rowspan="2" class="column">DƯ CUỐI</th>
        </tr>

        <tr>
          <th class="column">BÁO CÓ</th>
          <th class="column">BÁO NỢ</th>
          <th class="column">GỬI</th>
          <th class="column">RÚT</th>
        </tr>
      </thead>

      <tbody>
        <!-- tên nhóm vật tư -->
        <ng-container *ngFor="let chungtu of chungtus; let i = index">
          <!-- Thêm hàng mới để hiển thị tên nhóm -->
          <tr *ngIf="i == 0 || chungtus[i].SO_CT != chungtus[i - 1].SO_CT">
            <td>
              <div>{{ chungtu.NGAY_CT | date: "dd/MM/yyyy" }}</div>
            </td>

            <!-- If chungtu.CRDB is not true, display value in PC column -->
            <td>
              <div *ngIf="chungtu.CRDB == true">{{ chungtu.SO_CT }}</div>
              <div *ngIf="chungtu.CRDB == false"></div>
            </td>

            <td>
              <div *ngIf="chungtu.CRDB == false">{{ chungtu.SO_CT }}</div>
              <div *ngIf="chungtu.CRDB == true"></div>
            </td>

            <td>
              <div>{{ chungtu.DIEN_GIAI }}</div>
            </td>
            <td>{{ getTotal(chungtus, chungtu.SO_CT, "PS_NO") | number }}</td>
            <td>{{ getTotal(chungtus, chungtu.SO_CT, "PS_CO") | number }}</td>
            <td>
              <div>{{ chungtu.TON_QUY }}</div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

  <p style="text-align: right; margin-right: 20px">
    Ngày.... tháng.... năm....
  </p>

  <div class="print-sign">
    <div class="establishment">
      <p>
        <strong>NGƯỜI LẬP</strong>
      </p>
      <p>
        <strong>(Ký, họ tên)</strong>
      </p>
    </div>
    <div class="accountant">
      <p>
        <strong>KẾ TOÁN TRƯỞNG</strong>
      </p>
      <p>
        <strong>(Ký, họ tên)</strong>
      </p>
    </div>
    <div class="undersecretary">
      <p>
        <strong>Giám Đốc</strong>
      </p>
      <p>
        <strong>(Ký, họ tên)</strong>
      </p>
    </div>
  </div>
</div>
