<!-- <div class="x_title">
  <h3><i class="fa fa-tasks"></i> Kết Quả Hoạt Động Sản Xuất Kinh Doanh</h3>
</div> -->
<br>

<div class="panel-filter">
  <div class="row">

    <div class="col-md-3 col-sm-6 col-xs-12 form-group">
      <div class="col-md-5 col-sm-6 col-xs-12 form-group label-created-date">
        <p for="">Từ Ngày - Đến Ngày</p>
      </div>
      <div class="col-md-10 col-sm-6 col-xs-12 form-group">
        <div class="col-md-7 col-sm-6 col-xs-12 form-group">
          <input type="text" placeholder="{{'FromDate| translate'}}" class="media" bsDatepicker
            [(ngModel)]="this.fromDate"
            [bsConfig]="{rangeInputFormat: 'DD/MM/YYYY', dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false }">
          <!-- (bsValueChange)="onValueChangeDateRange($event)"> -->
        </div>
        <div class="col-md-7 col-sm-6 col-xs-12 form-group">
          <input type="text" placeholder="{{'ToDate| translate'}}" class="media" bsDatepicker [(ngModel)]="this.toDate"
            [bsConfig]="{rangeInputFormat: 'DD/MM/YYYY', dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false }">
          <!-- (bsValueChange)="onValueChangeDateRange2($event)" -->
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12 form-group">
      <p for="">Mã tài khoản</p>
      <input type="text" [(ngModel)]="this.ma_tk ">
      <button (click)="openDialog()">...</button>
    </div>

    <div *ngIf="isDateRangeVisible" #dateRangeSection class="col-md-3 col-sm-6 col-xs-12 form-group">
      <div class="col-md-5 col-sm-6 col-xs-12 form-group label-created-date">
        <p>Từ Ngày TR - Đến Ngày TR</p>
      </div>
      <div class="col-md-10 col-sm-6 col-xs-12 form-group">
        <div class="col-md-7 col-sm-6 col-xs-12 form-group">
          <input type="text" placeholder="{{'FromDateTR| translate'}}" class="media" bsDatepicker
            [(ngModel)]="this.fromDateTR"
            [bsConfig]="{rangeInputFormat: 'DD/MM/YYYY', dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false }">
          <!-- (bsValueChange)="onValueChangeDateRange($event)"> -->
        </div>
        <div class="col-md-7 col-sm-6 col-xs-12 form-group">
          <input type="text" placeholder="{{'ToDateTR| translate'}}" class="media" bsDatepicker
            [(ngModel)]="this.toDateTR"
            [bsConfig]="{rangeInputFormat: 'DD/MM/YYYY', dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false }">
          <!-- (bsValueChange)="onValueChangeDateRange2($event)" -->
        </div>
      </div>
    </div>

    <div>
      <div class="col-md-4 col-sm-6 col-xs-12 form-group panel-search">
        <button class="btn btn-primary" type="button" (click)="reloaddata()"><span class="glyphicon glyphicon-search"
            aria-hidden="true"></span></button>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12 form-group panel-search">
        <button class="btn btn-primary" type="button" (click)="chuyen()">
          <span aria-hidden="true">
          </span> Pre
        </button>
      </div>

    </div>
  </div>
</div>
<hr>
<div class="table-responsive">
  <h2 class="nametb">{{this.nametable}}</h2>
  <h4 class="matk">Tài khoản:{{this.ma_tk}}</h4>
  <p class="time">Từ ngày:{{ this.fromDate| date:'dd/MM/yyyy' }} đến ngày: {{ this.toDate| date:'dd/MM/yyyy'}} </p>
  <div class="account">
    <div *ngIf="nodauky !== 0">Dư nợ đầu ngày:{{this.nodauky | number}}</div>
    <div *ngIf="codauky !== 0">Dư có đầu ngày:{{this.codauky | number}}</div>
    <!-- <div>Dư nợ đầu ngày:{{this.nodauky | number}}</div> -->
    <div>Phát sinh nợ: {{this.psno|number}}</div>
    <div>Phát sinh có: {{this.psco|number}}</div>
    <!-- <div>Dư nợ cuối ngày:{{this.nocuoiky | number}}</div> -->
    <div *ngIf="nocuoiky !== 0">Dư nợ cuối ngày:{{this.nocuoiky | number}}</div>
    <div *ngIf="cocuoiky !== 0">Dư có cuối ngày:{{this.cocuoiky | number}}</div>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th rowspan="2" class="small-column">
          Ngày CT
        </th>
        <th colspan="2" style="text-align: center;" class="large-column">
          SỐ CT
        </th>

        <th rowspan="2" class="small-column">
          DIỄN GIẢI
        </th>
        <th rowspan="2" class="small-column">
          TK ĐƯ
        </th>
        <th colspan="2" style="text-align: center;" class="large-column">
          SỐ TIỀN
        </th>
        <th rowspan="2" class="small-column">
          DƯ CUỐI
        </th>
      </tr>

      <tr>
        <th>BÁO CÓ</th>
        <th>BÁO NỢ</th>
        <th>GỬI</th>
        <th>RÚT</th>

      </tr>

    </thead>

    <tbody>

      <!-- tên nhóm vật tư -->
      <ng-container *ngFor="let chungtu of chungtus ; let i = index">

        <!-- Thêm hàng mới để hiển thị tên nhóm -->
        <tr *ngIf="i == 0 || chungtus[i].SO_CT != chungtus[i-1].SO_CT">
          <td>{{ chungtu.NGAY_CT | date:'dd/MM/yyyy'}} </td>
          <td>{{ chungtu.SO_CT }} </td>
          <td>{{ chungtu.SO_CT }} </td>
          <td>{{ chungtu.DIEN_GIAI}} </td>
          <td>{{ chungtu.MA_TK_DU}} </td>
          <td>{{ getTotal(chungtus, chungtu.SO_CT,'PS_NO') |number }}</td>
          <td>{{ getTotal(chungtus, chungtu.SO_CT,'PS_CO') | number }}</td>
          <td>{{ chungtu.DU_CUOI | number}}</td>

        </tr>

      </ng-container>

    </tbody>
  </table>
</div>