<h1 modal-title>Nguồn Lực</h1>
<div class="search-box">
  <input
    type="text"
    [(ngModel)]="searchTerm"
    (input)="filterDanhSachNguonLuc()"
    placeholder="Tìm kiếm theo mã hoặc tên nguồn lực..."
    class="form-control"
  />
</div>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th *ngFor="let colInfo of columnInfonhapnguonLuc">
          <div>
            {{ colInfo.Caption }}
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let nguonLuc of danhSachNguonLuc"
        (click)="chonNguonLuc(nguonLuc.ID_NL)"
        class="select-item"
      >
        <td *ngFor="let colInfo of columnInfonhapnguonLuc">
          <strong *ngIf="nguonLuc.BOLD == true && colInfo.Format == 'd'">{{
            nguonLuc[colInfo.Name] | date: "dd/MM/yyyy"
          }}</strong>
          <span *ngIf="nguonLuc.BOLD != true && colInfo.Format == 'd'">{{
            nguonLuc[colInfo.Name] | date: "dd/MM/yyyy"
          }}</span>

          <strong
            *ngIf="
              nguonLuc.BOLD == true && colInfo.Format == '#,##0.##;(#,##0.##);#'
            "
            >{{ nguonLuc[colInfo.Name] | number }}</strong
          >
          <span
            *ngIf="
              nguonLuc.BOLD != true && colInfo.Format == '#,##0.##;(#,##0.##);#'
            "
            >{{ nguonLuc[colInfo.Name] | number }}</span
          >

          <strong *ngIf="nguonLuc.BOLD == true && colInfo.Format == ''">{{
            nguonLuc[colInfo.Name]
          }}</strong>
          <span *ngIf="nguonLuc.BOLD != true && colInfo.Format == ''">{{
            nguonLuc[colInfo.Name]
          }}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
