<div class="x_title">
  <h3><i class="fa fa-tasks"></i> {{"Theo dõi đơn hàng" }}</h3>
</div>
<br>

<div class="panel-filter">
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12 form-group">
      <div class="col-md-10 col-sm-6 col-xs-12 form-group">
        <div class="col-md-7 col-sm-6 col-xs-12 form-group">
          <input type="text" placeholder="{{'FromDate| translate'}}" class="media" bsDatepicker
            [(ngModel)]="this.fromDate"
            [bsConfig]="{rangeInputFormat: 'DD/MM/YYYY', dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false }">
        </div>
        <div class="col-md-7 col-sm-6 col-xs-12 form-group">
          <input type="text" placeholder="{{'ToDate| translate'}}" class="media" bsDatepicker [(ngModel)]="this.toDate"
            [bsConfig]="{rangeInputFormat: 'DD/MM/YYYY', dateInputFormat: 'DD/MM/YYYY', showWeekNumbers: false }">
        </div>
      </div>
    </div>
    <div>
      <div class="col-md-4 col-sm-6 col-xs-12 form-group panel-search">        
        <button class="btn btn-primary" type="button" (click)="reloaddata()"><span
            class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th *ngFor="let colInfo of columnInfochungtu ">
          <div >
            {{colInfo.Caption}}
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let chungtu of chungtus ; let i = index" class="select-item">
        <td *ngFor="let colInfo of columnInfochungtu">
          <span *ngIf="colInfo.Format == 'd' ">{{chungtu[colInfo.Name] | date:
            'dd/MM/yyyy'}}</span>
          <span *ngIf="colInfo.Format == '#,##0.##;(#,##0.##);#' ">{{chungtu[colInfo.Name]
            |number }}</span>
          <span *ngIf="colInfo.Format == '' ">{{chungtu[colInfo.Name] }}</span>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="chungtus && chungtus.length == 0" class="col-md-12">
    <div class="alert alert-info">
      <strong>{{'dialog_alert_title'| translate }}!</strong> {{'task_manager_task_notice_list_empty'| translate }}
    </div>

  </div>
  <div *ngIf="chungtus && chungtus.length > 0" class="col-md-12">
    <div class="col-md-8">
      <pagination [boundaryLinks]="true" [itemsPerPage]="pageSize" (pageChanged)="pageChanged($event)"
        [totalItems]="totalRow" [(ngModel)]="pageNumber" class="pagination-sm" previousText="&lsaquo;"
        nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
    </div>
    <div class="col-md-4">
      <div class="form-group view-options">
        <label for="">{{'show_row' | translate}} &nbsp;</label>
        <select class="form-control" name="page-size" [(ngModel)]="pageSize" (change)="onChangePageSize()">
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </div>
    </div>
  </div>
</div>