<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <ul class="nav side-menu">
    <li><a routerLink="/main" routerLinkActive="active"><i class="fa fa-dashboard"></i> {{'dash_board' |
        translate}}</a>
    </li>
    <li *ngFor="let item of functions"><a> <i
          [ngClass]="item.IconAwesome === null ? 'fa fa-spinner' : 'fa ' + item.IconAwesome"></i> {{item.Name}} <span
          *ngIf="item.ChildFunctions.length>0" class="fa fa-chevron-down"></span></a>
      <ul class="nav child_menu">
        <li *ngFor="let subItem of item.ChildFunctions"><a routerLink="{{subItem.Url}}"
            routerLinkActive="active">{{subItem.Name}}</a></li>
      </ul>
    </li>
  </ul>
</div>