<button class="btn btn-primary print-back-btn" (click)="goBack()">
  ← Quay lại
</button>
<div class="print-section">
  <div class="title">
    <div class="temp"></div>

    <div class="namecp">
      <p>Mẫu số B 01 - DN</p>
      <p>Ban hành theo Thông tư 200/2014/TT-BTC</p>
      <p>ngày 22/12/2014</p>
    </div>
  </div>

  <!-- <div [innerHTML]="safeHtml"></div> -->
  <div class="table-responsive">
    <h2 class="nametb">{{ this.nametable }}</h2>
    <p class="time">
      Từ ngày:{{ this.fromDate.split("-").reverse().join("/") }} đến ngày:
      {{ this.toDate.split("-").reverse().join("/") }}
    </p>

    <table class="table table-bordered">
      <!-- <thead [innerHTML]="headHtml" > -->
      <thead>
        <tr>
          <th *ngFor="let colInfo of columnInfonhapkho" class="column">
            {{ colInfo.Caption }}
          </th>
        </tr>
      </thead>

      <tbody>
        <!-- tên nhóm vật tư -->
        <ng-container *ngFor="let chungtu of chungtus; let i = index">
          <!-- Hiển thị thông tin của từng mục -->
          <tr class="select-item">
            <td *ngFor="let colInfo of columnInfonhapkho">
              <strong *ngIf="chungtu.BOLD == true && colInfo.Format == 'd'">{{
                chungtu[colInfo.Name] | date: "dd/MM/yyyy"
              }}</strong>
              <span *ngIf="chungtu.BOLD != true && colInfo.Format == 'd'">{{
                chungtu[colInfo.Name] | date: "dd/MM/yyyy"
              }}</span>

              <strong
                *ngIf="
                  chungtu.BOLD == true &&
                  colInfo.Format == '#,##0.##;(#,##0.##);#'
                "
                >{{ chungtu[colInfo.Name] | number }}</strong
              >
              <span
                *ngIf="
                  chungtu.BOLD != true &&
                  colInfo.Format == '#,##0.##;(#,##0.##);#'
                "
                >{{ chungtu[colInfo.Name] | number }}</span
              >

              <strong *ngIf="chungtu.BOLD == true && colInfo.Format == ''">{{
                chungtu[colInfo.Name]
              }}</strong>
              <span *ngIf="chungtu.BOLD != true && colInfo.Format == ''">{{
                chungtu[colInfo.Name]
              }}</span>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

  <p class="print-date">Ngày.... tháng.... năm....</p>

  <div class="print-sign">
    <div class="establishment">
      <p>
        <strong>NGƯỜI LẬP</strong>
      </p>
      <p>
        <strong>(Ký, họ tên)</strong>
      </p>
    </div>
    <div class="accountant">
      <p>
        <strong>KẾ TOÁN TRƯỞNG</strong>
      </p>
      <p>
        <strong>(Ký, họ tên)</strong>
      </p>
    </div>
    <div class="undersecretary">
      <p>
        <strong>Giám Đốc</strong>
      </p>
      <p>
        <strong>(Ký, họ tên)</strong>
      </p>
    </div>
  </div>
</div>
