<h1 class="modal-title">Sản Phẩm</h1>
<div class="search-box">
  <input
    type="text"
    [(ngModel)]="searchTerm"
    (input)="filterDanhSachSanPham()"
    placeholder="Tìm kiếm theo mã hoặc tên sản phẩm..."
    class="form-control"
  />
</div>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th *ngFor="let colInfo of columnInfonhapsanPham">
          <div>
            {{ colInfo.Caption }}
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let sanPham of danhSachSanPham"
        (click)="chonSanPham(sanPham.ID_NL)"
        class="select-item"
      >
        <td *ngFor="let colInfo of columnInfonhapsanPham">
          <strong *ngIf="sanPham.BOLD == true && colInfo.Format == 'd'">{{
            sanPham[colInfo.Name] | date: "dd/MM/yyyy"
          }}</strong>
          <span *ngIf="sanPham.BOLD != true && colInfo.Format == 'd'">{{
            sanPham[colInfo.Name] | date: "dd/MM/yyyy"
          }}</span>

          <strong
            *ngIf="
              sanPham.BOLD == true && colInfo.Format == '#,##0.##;(#,##0.##);#'
            "
            >{{ sanPham[colInfo.Name] | number }}</strong
          >
          <span
            *ngIf="
              sanPham.BOLD != true && colInfo.Format == '#,##0.##;(#,##0.##);#'
            "
            >{{ sanPham[colInfo.Name] | number }}</span
          >

          <strong
            *ngIf="
              sanPham.BOLD == true &&
              colInfo.Format == '' &&
              colInfo.Name !== 'BIT_LOAI_NL'
            "
          >
            {{ sanPham[colInfo.Name] }}
          </strong>

          <span
            *ngIf="
              sanPham.BOLD != true &&
              colInfo.Format == '' &&
              colInfo.Name !== 'BIT_LOAI_NL'
            "
          >
            {{ sanPham[colInfo.Name] }}
          </span>

          <!-- HIỂN THỊ TÊN LOẠI NGUỒN LỰC -->
          <strong
            *ngIf="sanPham.BOLD == true && colInfo.Name === 'BIT_LOAI_NL'"
          >
            {{ getTenLoaiNguonLuc(sanPham[colInfo.Name]) }}
          </strong>

          <span *ngIf="sanPham.BOLD != true && colInfo.Name === 'BIT_LOAI_NL'">
            {{ getTenLoaiNguonLuc(sanPham[colInfo.Name]) }}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
