<div class="panel-filter">
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12">
      <div class="form-group">
        <label for="startDate">Ngày bắt đầu:</label>
        <input
          type="text"
          placeholder="{{ 'FromDate| translate' }}"
          id="startDate"
          class="form-control"
          bsDatepicker
          [(ngModel)]="this.fromDate"
          [bsConfig]="bsConfig"
        />
        <!-- (bsValueChange)="onValueChangeDateRange($event)"> -->
      </div>
      <div class="form-group">
        <label for="endDate">Ngày kết thúc:</label>
        <input
          type="text"
          placeholder="{{ 'ToDate| translate' }}"
          class="form-control"
          id="endDate"
          bsDatepicker
          [(ngModel)]="this.toDate"
          [bsConfig]="bsConfig"
        />
        <!-- (bsValueChange)="onValueChangeDateRange2($event)" -->
      </div>
      <div class="form-group">
        <label for="ma_tk">Mã tài khoản:</label>
        <div class="input-group">
          <input
            type="text"
            [(ngModel)]="this.ma_tk"
            class="form-control"
            id="ma_tk"
          />
          <div class="input-group-btn">
            <button class="btn btn-default" (click)="openTKDialog()">
              ...
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
      <div class="form-group">
        <label for="ma_dt">Đối tượng:</label>
        <div class="input-group">
          <input
            type="text"
            [(ngModel)]="this.ma_dt"
            class="form-control"
            id="ma_dt"
          />
          <div class="input-group-btn">
            <button class="btn btn-default">...</button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="ma_dt">Sản phẩm:</label>
        <div class="input-group">
          <input
            type="text"
            [(ngModel)]="this.ma_dt"
            class="form-control"
            id="ma_dt"
          />
          <div class="input-group-btn">
            <button class="btn btn-default">...</button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="ma_km">Khoản mục:</label>
        <div class="input-group">
          <input
            type="text"
            [(ngModel)]="this.ma_km"
            class="form-control"
            id="ma_km"
          />
          <div class="input-group-btn">
            <button class="btn btn-default">...</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
      <div class="form-group">
        <label for="ma_vv">Vụ việc:</label>
        <div class="input-group">
          <input
            type="text"
            [(ngModel)]="this.ten_vv"
            class="form-control"
            id="ma_vv"
          />
          <div class="input-group-btn">
            <button class="btn btn-default" (click)="openVVDialog()">
              ...
            </button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="ma_ytp">Yếu tố:</label>
        <div class="input-group">
          <input
            type="text"
            [(ngModel)]="this.ma_ytp"
            class="form-control"
            id="ma_ytp"
          />
          <div class="input-group-btn">
            <button class="btn btn-default">...</button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="ma_nhom_dt">Nhóm đối tượng:</label>
        <div class="input-group">
          <input
            type="text"
            [(ngModel)]="this.ma_nhom_dt"
            class="form-control"
            id="ma_nhom_dt"
          />
          <div class="input-group-btn">
            <button class="btn btn-default">...</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
      <div class="form-group">
        <label for="ma_dt">Nhóm sản phẩm:</label>
        <div class="input-group">
          <input
            type="text"
            [(ngModel)]="this.ma_dt"
            class="form-control"
            id="ma_dt"
          />
          <div class="input-group-btn">
            <button class="btn btn-default">...</button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="ma_td">Tiêu đề:</label>
        <div class="input-group">
          <input
            type="text"
            [(ngModel)]="this.nametable"
            class="form-control"
            id="ma_td"
          />
          <div class="input-group-btn">
            <button class="btn btn-default">...</button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="ma_dt">Loại tiền:</label>
        <div class="input-group">
          <input
            type="text"
            [(ngModel)]="this.ma_dt"
            class="form-control"
            id="ma_dt"
          />
          <div class="input-group-btn">
            <button class="btn btn-default">...</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-primary" type="submit" (click)="reloaddata()">
    <span class="glyphicon glyphicon-search"></span> Tìm kiếm
  </button>
  <button
    class="preview-button btn btn-primary ml-3"
    type="button"
    (click)="chuyen()"
  >
    Preview
  </button>
</div>
<hr />
<div class="table-responsive">
  <h2 class="nametb">{{ this.nametable }}</h2>
  <h4 class="matk">Tài khoản: {{ this.ma_tk }}</h4>
  <p class="time">
    Từ ngày: {{ this.fromDate | date: "dd/MM/yyyy" }} đến ngày:
    {{ this.toDate | date: "dd/MM/yyyy" }}
  </p>
  <div class="account">
    <!-- <div *ngIf="nodauky !== 0">Dư nợ đầu ngày:{{this.nodauky | number}}</div>
    <div *ngIf="codauky !== 0">Dư có đầu ngày:{{this.codauky | number}}</div> -->
    <div class="account-detail">
      Dư nợ đầu ngày: {{ this.nodauky | number }}
    </div>
    <div class="account-detail">Phát sinh nợ: {{ this.psno | number }}</div>
    <div class="account-detail">Phát sinh có: {{ this.psco | number }}</div>
    <div class="account-detail">
      Dư nợ cuối ngày: {{ this.nocuoiky | number }}
    </div>
    <!-- <div *ngIf="nocuoiky !== 0">Dư nợ cuối ngày:{{this.nocuoiky | number}}</div>
    <div *ngIf="cocuoiky !== 0">Dư có cuối ngày:{{this.cocuoiky | number}}</div> -->
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th rowspan="2" class="small-column">Ngày CT</th>
        <th colspan="2" class="large-column">SỐ CT</th>

        <th rowspan="2" class="small-column">DIỄN GIẢI</th>
        <th rowspan="2" class="small-column">TK ĐƯ</th>
        <th colspan="2" class="large-column">SỐ TIỀN</th>
        <th rowspan="2" class="small-column">DƯ CUỐI</th>
      </tr>

      <tr>
        <th class="small-column">BÁO CÓ</th>
        <th class="small-column">BÁO NỢ</th>
        <th class="small-column">GỬI</th>
        <th class="small-column">RÚT</th>
      </tr>
    </thead>

    <tbody>
      <!-- tên nhóm vật tư -->
      <ng-container *ngFor="let chungtu of chungtus; let i = index">
        <!-- Thêm hàng mới để hiển thị tên nhóm -->
        <tr *ngIf="i == 0 || chungtus[i].SO_CT != chungtus[i - 1].SO_CT">
          <td>{{ chungtu.NGAY_CT | date: "dd/MM/yyyy" }}</td>
          <td>{{ chungtu.SO_CT }}</td>
          <td>{{ chungtu.SO_CT }}</td>
          <td>{{ chungtu.DIEN_GIAI }}</td>
          <td>{{ chungtu.MA_TK_DU }}</td>
          <td>{{ getTotal(chungtus, chungtu.SO_CT, "PS_NO") | number }}</td>
          <td>{{ getTotal(chungtus, chungtu.SO_CT, "PS_CO") | number }}</td>
          <td>{{ chungtu.DU_CUOI | number }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
