<div class="panel-filter">
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12">
      <div class="form-group">
        <label for="startDate">Ngày bắt đầu:</label>
        <input
          type="text"
          placeholder="{{ 'FromDate| translate' }}"
          id="startDate"
          class="form-control"
          bsDatepicker
          [(ngModel)]="this.fromDate"
          [bsConfig]="bsConfig"
        />
        <!-- (bsValueChange)="onValueChangeDateRange($event)"> -->
      </div>
      <div class="form-group">
        <label for="endDate">Ngày kết thúc:</label>
        <input
          type="text"
          placeholder="{{ 'ToDate| translate' }}"
          class="form-control"
          id="endDate"
          bsDatepicker
          [(ngModel)]="this.toDate"
          [bsConfig]="bsConfig"
        />
        <!-- (bsValueChange)="onValueChangeDateRange2($event)" -->
      </div>
      <div class="form-group">
        <label for="ma_tk">Mã tài khoản:</label>
        <div class="input-group">
          <input
            type="text"
            [(ngModel)]="this.ma_tk"
            class="form-control"
            id="ma_tk"
          />
          <div class="input-group-btn">
            <button class="btn btn-default" (click)="openTKDialog()">
              ...
            </button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Mẫu in:</label>

        <div class="dropdown-input">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="printTemplate"
            (click)="toggleTemplateDropdown()"
            readonly
          />
          <span class="dropdown-icon" (click)="toggleTemplateDropdown()">
            ▼
          </span>
          <div class="dropdown-menu-custom" *ngIf="showTemplateDropdown">
            <div class="dropdown-item" (click)="selectTemplate('Tổng hợp')">
              Tổng hợp
            </div>
            <div class="dropdown-item" (click)="selectTemplate('Chi tiết')">
              Chi tiết
            </div>
            <div
              class="dropdown-item"
              (click)="selectTemplate('Tổng hợp và chi tiết')"
            >
              Tổng hợp và chi tiết
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
      <div class="form-group">
        <label for="ma_dt">Đối tượng:</label>
        <div class="input-group">
          <input
            type="text"
            [(ngModel)]="this.ten_dt"
            class="form-control"
            id="ma_dt"
          />
          <div class="input-group-btn">
            <button class="btn btn-default" (click)="openDTDialog()">
              ...
            </button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="td">Tiêu đề:</label>

        <input
          type="text"
          [(ngModel)]="this.nametable"
          class="form-control"
          id="td"
        />
      </div>
    </div>
  </div>
  <button class="btn btn-primary" type="submit" (click)="reloaddata()">
    <span class="glyphicon glyphicon-search"></span> Tìm kiếm
  </button>
  <button
    class="preview-button btn btn-primary"
    type="button"
    (click)="chuyen()"
  >
    Preview
  </button>
</div>
<hr />
<div class="nametb">{{ this.nametable }}</div>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th *ngFor="let colInfo of columnInfonhapkho" class="column">
          <div>
            {{ colInfo.Caption }}
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let chungtu of nhapkhos; let i = index" class="select-item">
        <td *ngFor="let colInfo of columnInfonhapkho">
          <strong *ngIf="chungtu.BOLD == true && colInfo.Format == 'd'">{{
            chungtu[colInfo.Name] | date: "dd/MM/yyyy"
          }}</strong>
          <span *ngIf="chungtu.BOLD != true && colInfo.Format == 'd'">{{
            chungtu[colInfo.Name] | date: "dd/MM/yyyy"
          }}</span>

          <strong
            *ngIf="
              chungtu.BOLD == true && colInfo.Format == '#,##0.##;(#,##0.##);#'
            "
            >{{ chungtu[colInfo.Name] | number }}</strong
          >
          <span
            *ngIf="
              chungtu.BOLD != true && colInfo.Format == '#,##0.##;(#,##0.##);#'
            "
            >{{ chungtu[colInfo.Name] | number }}</span
          >

          <strong *ngIf="chungtu.BOLD == true && colInfo.Format == ''">{{
            chungtu[colInfo.Name]
          }}</strong>
          <span *ngIf="chungtu.BOLD != true && colInfo.Format == ''">{{
            chungtu[colInfo.Name]
          }}</span>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="nhapkhos && nhapkhos.length == 0" class="col-md-12">
    <div class="alert alert-info">
      <strong>{{ "dialog_alert_title" | translate }}!</strong>
      {{ "task_manager_task_notice_list_empty" | translate }}
    </div>
  </div>

  <div *ngIf="nhapkhos && nhapkhos.length > 0" class="col-md-12">
    <div class="col-md-8">
      <pagination
        [boundaryLinks]="true"
        [itemsPerPage]="pageSize"
        (pageChanged)="pageChanged($event)"
        [totalItems]="totalRow"
        [(ngModel)]="pageNumber"
        class="pagination-sm"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;"
      ></pagination>
    </div>
    <div class="col-md-4">
      <div class="form-group view-options">
        <label for="">{{ "show_row" | translate }} &nbsp;</label>
        <select
          class="form-control"
          name="page-size"
          [(ngModel)]="pageSize"
          (change)="onChangePageSize()"
        >
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </div>
    </div>
  </div>
</div>
