<h1>Nhóm Đối Tượng</h1>
<div class="search-box">
  <input
    type="text"
    [(ngModel)]="searchTerm"
    (input)="filterDanhSachNhomDoiTuong()"
    placeholder="Tìm kiếm theo tên nhóm đối tượng..."
    class="form-control"
  />
</div>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th *ngFor="let colInfo of columnInfonhapnhomDoiTuong">
          <div>
            {{ colInfo.Caption }}
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let nhomDoiTuong of danhSachNhomDoiTuong"
        (click)="chonNhomDoiTuong(nhomDoiTuong.ID_NHOM_DT)"
        class="select-item"
      >
        <td *ngFor="let colInfo of columnInfonhapnhomDoiTuong">
          <strong *ngIf="nhomDoiTuong.BOLD == true && colInfo.Format == 'd'">{{
            nhomDoiTuong[colInfo.Name] | date: "dd/MM/yyyy"
          }}</strong>
          <span *ngIf="nhomDoiTuong.BOLD != true && colInfo.Format == 'd'">{{
            nhomDoiTuong[colInfo.Name] | date: "dd/MM/yyyy"
          }}</span>

          <strong
            *ngIf="
              nhomDoiTuong.BOLD == true &&
              colInfo.Format == '#,##0.##;(#,##0.##);#'
            "
            >{{ nhomDoiTuong[colInfo.Name] | number }}</strong
          >
          <span
            *ngIf="
              nhomDoiTuong.BOLD != true &&
              colInfo.Format == '#,##0.##;(#,##0.##);#'
            "
            >{{ nhomDoiTuong[colInfo.Name] | number }}</span
          >

          <strong *ngIf="nhomDoiTuong.BOLD == true && colInfo.Format == ''">{{
            nhomDoiTuong[colInfo.Name]
          }}</strong>
          <span *ngIf="nhomDoiTuong.BOLD != true && colInfo.Format == ''">{{
            nhomDoiTuong[colInfo.Name]
          }}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
