<h1 class="modal-title">Tiền tệ</h1>
<div class="search-box">
  <input
    type="text"
    [(ngModel)]="searchTerm"
    (input)="filterDanhSachTienTe()"
    placeholder="Tìm kiếm theo mã hoặc tên tiền tệ..."
    class="form-control"
  />
</div>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th *ngFor="let colInfo of columnInfonhaptienTe">
          <div>
            {{ colInfo.Caption }}
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let tienTe of danhSachTienTe"
        (click)="chonTienTe(tienTe.ID_TT)"
        class="select-item"
      >
        <td *ngFor="let colInfo of columnInfonhaptienTe">
          <strong *ngIf="tienTe.BOLD == true && colInfo.Format == 'd'">{{
            tienTe[colInfo.Name] | date: "dd/MM/yyyy"
          }}</strong>
          <span *ngIf="tienTe.BOLD != true && colInfo.Format == 'd'">{{
            tienTe[colInfo.Name] | date: "dd/MM/yyyy"
          }}</span>

          <strong
            *ngIf="
              tienTe.BOLD == true && colInfo.Format == '#,##0.##;(#,##0.##);#'
            "
            >{{ tienTe[colInfo.Name] | number }}</strong
          >
          <span
            *ngIf="
              tienTe.BOLD != true && colInfo.Format == '#,##0.##;(#,##0.##);#'
            "
            >{{ tienTe[colInfo.Name] | number }}</span
          >

          <strong *ngIf="tienTe.BOLD == true && colInfo.Format == ''">{{
            tienTe[colInfo.Name]
          }}</strong>
          <span *ngIf="tienTe.BOLD != true && colInfo.Format == ''">{{
            tienTe[colInfo.Name]
          }}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
