<button class="btn btn-primary print-back-btn" (click)="goBack()">
  ← Quay lại
</button>
<div class="print-section">
  <div class="title">
    <div class="temp">
      <!-- <p>CÔNG TY CP CÔNG NGHỆ VÀ TRUYỀN THÔNG CNS</p>
    <p>Số 64/205 Định Công Thượng, Định Công, Hoàng Mai, Hà Nội</p>
   -->
    </div>

    <div class="namecp">
      <p>Mẫu số B 01 - DN</p>
      <p>Ban hành theo Thông tư 200/2014/TT-BTC</p>
      <p>ngày 22/12/2014</p>
    </div>
  </div>

  <div class="table-responsive">
    <h2 class="nametb">{{ this.nametable }}</h2>
    <p *ngIf="maTk" class="matk">Tài khoản:{{ this.maTk }}</p>
    <p class="time">
      Từ ngày:{{ this.fromDate.split("-").reverse().join("/") }} đến ngày:
      {{ this.toDate.split("-").reverse().join("/") }}
    </p>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th *ngFor="let colInfo of columnInfochungtu">
            <div>
              {{ colInfo.Caption }}
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let chungtu of chungtus; let i = index" class="select-item">
          <td *ngFor="let colInfo of columnInfochungtu">
            <strong *ngIf="chungtu.BOLD == true && colInfo.Format == 'd'">{{
              chungtu[colInfo.Name] | date: "dd/MM/yyyy"
            }}</strong>
            <span *ngIf="chungtu.BOLD != true && colInfo.Format == 'd'">{{
              chungtu[colInfo.Name] | date: "dd/MM/yyyy"
            }}</span>

            <strong
              *ngIf="
                chungtu.BOLD == true &&
                colInfo.Format == '#,##0.##;(#,##0.##);#'
              "
              >{{ chungtu[colInfo.Name] | number }}</strong
            >
            <span
              *ngIf="
                chungtu.BOLD != true &&
                colInfo.Format == '#,##0.##;(#,##0.##);#'
              "
              >{{ chungtu[colInfo.Name] | number }}</span
            >

            <strong *ngIf="chungtu.BOLD == true && colInfo.Format == ''">{{
              chungtu[colInfo.Name]
            }}</strong>
            <span *ngIf="chungtu.BOLD != true && colInfo.Format == ''">{{
              chungtu[colInfo.Name]
            }}</span>
          </td>
        </tr>
      </tbody>
    </table>

    <p style="text-align: right; margin-right: 20px">
      Ngày.... tháng.... năm....
    </p>
  </div>
  <div class="print-sign">
    <div class="establishment">
      <p>
        <strong>NGƯỜI LẬP</strong>
      </p>
      <p>
        <strong>(Ký, họ tên)</strong>
      </p>
    </div>
    <div class="accountant">
      <p>
        <strong>KẾ TOÁN TRƯỞNG</strong>
      </p>
      <p>
        <strong>(Ký, họ tên)</strong>
      </p>
    </div>
    <div class="undersecretary">
      <p>
        <strong>Giám Đốc</strong>
      </p>
      <p>
        <strong>(Ký, họ tên)</strong>
      </p>
    </div>
  </div>
</div>
